@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #852a42;
  padding: 4px;
}

.searching .MuiFormLabel-root.Mui-focused {
  color: black !important;
}
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall.MuiDataGrid-menuIconButton.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root{
  color:white
}
.MuiFormLabel-root.Mui-focused ,.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  color: #fcfcfc !important;
}
.MuiFormControl-root.css-1869usk-MuiFormControl-root
  div.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root
  fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #f5f8f3 !important;
}
.item {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.disabled-page {
  color: #808e9b;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #808e9b;
}


.next {
  font-size: 15px;
 
  width: 20px;
}

.pagination {
  align-items: center;

  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: relative;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  font-size: 15px;
 

  width: 20px;
}
