@tailwind base;
@tailwind components;
@tailwind utilities;

.searching .MuiFormLabel-root.Mui-focused {
  color: black !important;
}
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall.MuiDataGrid-menuIconButton.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root {
  color: white;
}
.MuiFormLabel-root.Mui-focused,
.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  color: #fcfcfc !important;
}
.MuiFormControl-root.css-1869usk-MuiFormControl-root
  div.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root
  fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #f5f8f3 !important;
}
.item {
  align-items: center;
  color: #fff;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  width: 30px;
  padding: 20px;
}
.item .pageLink{
  padding: 8px;
}
.disabled-page {
  color: #495158;
}
.break-me {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.active {
  border: solid 1px #ffffff;
  border-radius: 50%;
  color: #ffffff;
  background-color: #852a42;
  /* padding: 20px; */
}

.next,
.previous {
  font-size: 15px;
  width: 20px;
}


.pagination {
  margin: auto;
  width: 50%;
  align-items: center;
  display: flex;

  height: 50px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .pagination {
   width: 94%;
  }
  
}
.pagination-page {
  font-weight: 600;
}
